# Dependências
node_modules/

# Build
dist/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Prisma Client gerado
src/generated/prisma/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache
.cache/

# Uploads
uploads/