#user-profile {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    align-items: center;
    margin: auto;
}

.user-container {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.user-basic {
    display: flex;
    flex-direction: column;
    background-color: #100d3a;
    border-radius: 15px;
    border: 2px solid #242446;
    width: 20%;
}

.user-stats {
    display: flex;
    flex-direction: column;
    background-color: #100d3a;
    border-radius: 15px;
    border: 2px solid #242446;
    width: 20%;
    max-height: 39vh;
    min-height: 39vh;
    overflow: hidden;
}

.p-avatar, .p-user{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-avatar {
    gap: 5px;
}

.p-user {
    gap: 10px;
}

.p-pic {
    width: 120px;
    height: 120px;
    border: 3px solid #FFFFFF
}

.p-pic-options {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 8px;
    width: 100%;
    align-items: center;
}

.p-username h2 {
    margin-bottom: 0;
}

.p-email {
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    align-self: start;
    word-break: break-word;
    overflow-wrap: break-word;
}

.p-email-title {
    font-size: 12px;
    opacity: 0.7;
    margin-bottom: 5px;
}

.p-email-value {
    font-size: 14px;
    margin-bottom: 5px;
}

.p-showBtn {
    font-size: 12px;
    color: #FFFFFF;
    transition: color 500ms ease;
}

.p-showBtn:hover {
    color: #818181;
}

.s-status {
    display: flex;
    gap: 2px;
    justify-content: space-between;
}

.s-status-header {
    display: flex;
    gap: 2px;
}

.s-status-light {
    display: flex;
    gap: 5px;
    align-items: center;
}

.s-status-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
}

.s-status-text {
    font-size: 12px;
}

.s-user {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.s-user::-webkit-scrollbar {
    width: 6px;
    background-color: #06051b
}

.s-user::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 1px 0 0 #23233a;
}

.s-user::-webkit-scrollbar-thumb {
    border-left: 1px solid #23233a;
    background-color: #100d3a;
}

.s-user-section {
    display: flex;
    flex-direction: column;
}

.s-user-header {
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 10px;
}

.s-user-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.s-user-info-suffix {
    font-size: 14px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.pad-15 {
    padding: 15px 15px 10px 15px;
}

.glow-red {
    box-shadow: 0 0 0.4 0 #FF0000;
}

.glow-green {
    box-shadow: 0 0 0.4 0 #09FF00;
}

.bg-red {
    background-color: #FF0000;
}

.bg-green {
    background-color: #09FF00;
}

.border {
    border-style: solid;
    border-width: 1px;
}

.border-red {
    border-color: #FF0000;
}

.border-green {
    border-color: #09FF00;
}

.border-rounded {
    border-radius: 9999px;
}

.border-b-1 {
    border-bottom: 1px solid #242446;
}