#header-nav {
    position: sticky;
    background-color: #010616;
    height: 42px;
    border-bottom: 1px solid #4B5889;
}

#header-container {
    display: flex;
    background-color: #0d0d22;
    height: 100%;
    max-width: 1280px;
    margin: auto;
    border-left: 1px solid #232d4e; 
    border-right: 1px solid #232d4e;
}

#main-header {
    display: flex;
    background-color: #0B0651;
    height: 100%;
    min-width: 150px;
    padding-right: 10px;
    border-right: 1px solid #221E5FFF;
}

#user-header {
    display: flex;
    background-color: #0B0651;
    height: 100%;
    padding-right: 10px;
    border-right: 1px solid #221E5FFF;    
}

.user-pic {
    background-color: #0D0D22;
    width: 28px;
    height: 28px;
    outline: 2px solid white;
    margin-left: 10px;
    align-self: center;
}

.user-name {
    align-self: center;
    margin-left: 10px;
}

.level {
    color: #FFFFFF;
    align-self: center;
    margin-left: 10px;
}

.currency {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}

.currency-value {
    font-size: 14px;
}

.link-section {
    display: flex;
    align-items: center;
}

.category-styles {
    display: flex;
    height: 100%;
    border-right: 1px solid #221e5FFF;
}

.category-styles:hover {
    background-color: #04031d;
}

.anchor-links {
    padding: 0 10px;
    align-self: center;
}

.logout-section {
    display: flex;
    height: 100%;
    margin-left: auto;
    padding: 0 10px;
    align-self: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logout-section:hover {
    background-color: #04031d;
}