.users-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 0;
    padding: 20px;
}

.app-users-list {
    display: flex;
    background-color: #28282d;
    width: 90%;
    border-radius: 7px;
    padding: 10px;
    min-height: 0;
}

.users-list-section {
    display: flex;
    flex-direction: column;
}

.users-list-section-title {
    display: flex;
    flex-direction: column;
    background-color: #32323b;
    font-weight: bold;
    border-radius: 7px 7px 0 0;
    padding: 10px;
}

.users-list-options {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.extended-options {
    display: flex;
    gap: 10px;
    max-width: 0px;
    opacity: 0;
}

.extended-options.open {
    max-width: 100px;
    opacity: 1;
}

.users-list-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 2px;
}

.users-list-table thead th {
    position: sticky;
    box-shadow: 0px -2px 0px 0px #28282d, 0px 2px 0px 0px #28282d;
    top: 2px;
    z-index: 2;
}

.users-list-table th,
.users-list-table td {
    background-color: #32323b;
    text-align: center;
}

.users-list-table td {
    overflow: hidden;
    padding: 10px 0 10px 0;
    font-weight: bold;
}

.users-list-table td:first-child {
    text-align: start;
    padding-left: 10px;
}

.users-list-table tbody > tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

.users-list-table tbody > tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

.users-list-name {
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* User Dashboard Modal Styles */
/* User Suspension Modal Styles */

.options-modal-content, .edit-modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFFFFF;
}

.options-modal-action {
    display: flex;
    align-items: center;
    gap: 5px;
}

.options-modal-action input[type="radio"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    background-color: #48465d;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0;
}

.options-modal-action input[type="radio"]::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 120ms transform ease-in-out;
    top: 50%;
    left: 50%;
    background-color: var(--text-color-primary);
}

.options-modal-action input[type="radio"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

.options-modal-suspension-duration,
.options-modal-ban-default {
    display: flex;
    gap: 5px;
    align-items: center;
}

.suspension-duration-options {
    display: flex;
    gap: 5px;
}

.suspension-duration-options input[type="radio"] {
    display: none;
}

.options-modal-reason-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.max-length-reason {
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.2s ease, color 0.2s ease;
}

.options-modal-confirmation {
    display: flex;
    gap: 10px;
    justify-content: center;;
}

/* User Edit Modal Styles */

.edit-single-user-info-container {
    display: flex;
    gap: 10px;
}

.edit-single-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-single-user-item {
    display: flex;

    &.username {
        flex-direction: column;
        line-height: 13px;
    }

    &.id {
        font-weight: bold;
    }
}

/* Custom Duration Modal Styles */

.options-modal-custom-duration {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.relative-duration {
    display: flex;
    gap: 10px;
}

/* Users Selected Component Styles */

.users-preview-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.users-selected {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #8787873b;
    width: 100px;
    border: 1px solid #afafaf1f;
    border-radius: 5px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    cursor: pointer;
    padding: 2px 5px 2px;
}

.users-selected:hover {
    opacity: 1;
}

.suspension-user-name {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;;
}