.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;     
    min-height: 0;
    padding: 10px 0 10px 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 0 20px 20px 20px;
}

.content-container.animes {
    height: 100%;
    max-height: 40.1%;
}

.content-container.characters {
    height: 100%;
    min-height: 0;
}

.content-list-search-filters {
    display: flex;
    gap: 10px;
    align-items: center;
}

.content-list-search-input {
    border-radius: 7px;
    height: 35px;
    padding: 0 10px 0 10px;
    box-shadow: none;
    outline: 0px solid transparent;
    transition: outline 0.3s ease;

    &:hover {
        box-shadow: none;
        outline: 1px solid #616161;
    }

    &:focus {
        box-shadow: none;
        outline: 1px solid #616161;
    }

    &::placeholder {
        color: #ffffff;
        transition: opacity 0.3s ease;
        opacity: 0.5;
    }

    &:hover::placeholder,
    &:focus::placeholder {
        opacity: 1;
    }
}

.content-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 0;
    height: 100%;
}

.list-content {
    outline: 0px solid transparent;
    transition: outline 0.3s ease-in-out, background-color 0.3s ease;
    min-height: 0;
    overflow: hidden auto;
    scrollbar-gutter: stable;

    &:hover {
        background-color: var(--bg-secondary);
        outline: 1px solid #616161;
    }
}

.list-content.anime {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, 66px);
    max-width: calc(8 * 66px);
    align-self: center;
}

.list-content.character {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, 165px);
    max-width: calc(6 * 165px);
    align-self: center;

    & .content-list-item {
        background-image: url(/assets/images/cards/background/thumbnail/normal.png);
        width: var(--character-thumbnail-item-width);
        height: var(--character-thumbnail-item-height);
        align-self: center;
    }
}

.no-results {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.content-options {
    display: flex;
    gap: 10px;
    align-self: center;
}

.content-option-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-default);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    outline: 2px dashed var(--text-color-primary);
    outline-offset: -2px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--item-bg-default);
    }
}

.content-option-item.anime {
    width: var(--anime--item-width);
    height: var(--anime--item-height);
}

.content-option-item.character {
    width: var(--character-thumbnail-item-outline-width);
    height: var(--character-thumbnail-item-outline-height);
}

.content-option-item.thumbnail {
    width: var(--character-thumbnail-item-width);
    height: var(--character-thumbnail-item-height);
}

.content-option-item.artwork {
    width: var(--character-item-width);
    height: var(--character-item-height);
}

.content-list-items-container {
    display: grid;
    justify-content: center;
    gap: 10px;
}

.content-list-item {
    position: relative;
    cursor: pointer;
}

.content-list-item img {
    opacity: 0.5;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 1;
    }
}

.content-list-item.character {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/assets/images/cards/background/thumbnail/normal.png);
    align-self: center;

    & img {
        width: var(--character-thumbnail-item-width);
        height: var(--character-thumbnail-item-height);

        &.no-hover {
            opacity: 1;
            cursor: default;
        }
    }
}

.content-checkbox-custom {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.content-list-item.selected:not(:global(.inactive)) img,
.content-checkbox-custom.selected {
    opacity: 1;
}

.create-anime-modal-content,
.update-anime-modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    max-height: 70vh;
    padding: 0px 5px 1px 10px;
}

.create-anime-top,
.update-anime-top {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.create-anime-bottom {
    display: flex;
    flex-direction: column;
}

.anime-symbol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.empty-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-default);
    border-radius: 5px;
    outline: 2px dashed var(--text-color-primary);
    outline-offset: -2px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: var(--item-bg-default);
    }
}

.empty-upload.symbol {
    width: var(--anime--item-width);
    height: var(--anime--item-height);
}

.anime-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.anime-info .name-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.anime-info .active-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.anime-description .description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.anime-info .span-wrapper {
    display: flex;
    gap: 5px;
}

.edit-character-modal-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    max-height: 70vh;
    padding: 0px 5px 1px 10px;
}

.delete-character-modal-content,
.restore-character-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.delete-character-warning,
.restore-character-warning {
    display: flex;
    gap: 10px;

    & span {
        font-size: 16px;
        font-weight: bold;
    }
}

.delete-character-confirmation {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & span {
        color: var(--red-300);
        font-size: 16px;
        font-weight: bold;
    }
}

.delete-character-selected,
.restore-character-selected {
    display: flex;
    justify-content: center;
}

.artwork-edit {
    display: flex;
}

.artwork-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 325px;
    margin: auto;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 145px;
    margin: auto;

    & .inner-text-artwork {
        transform:translateY(5px)
    }
}

.inner-text-artwork {
    color: var(--text-color-primary);
    font-size: 80px;
    text-shadow: rgba(131, 95, 95, 0) 0px 0px 10px, #f38282 3px 0px 10px, #bb8521 -3px 0px 10px, #3e0bff 0px -6px 10px
}

.basic-details {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & dl {
        margin: 0;
    }
}

.basic-item {
    display: flex;
    gap: 5px;
    height: 28px;

    & dt {
        align-self: center;
        color: var(--orange-500);
        font-weight: bold;
    }

    & dd, dd div {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: normal;
        color: var(--text-color-default);
        margin: 0;   
    }
}

.details-section-title {
    color: var(--text-color-default);
    font-size: 16px;
    font-weight: bold;
}

.basic-stats {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.stat-item {
    display: flex;
    gap: 3px;
    height: 30px;
    align-items: center;
}

.stat-spacing {
    color: var(--orange-500);
    font-size: 20px;
    letter-spacing: -3px;
    transform: skewX(10deg);
    margin-right: 5px;
}

.stat-name {
    color: var(--text-color-primary);
    font-weight: bold;
    width: 25%;
}

.stat-bar {
    display: flex;
    position: relative;
    align-self: center;
    background-color: #555555;
    width: 30%;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.stat-fill {
    background-color: var(--red-300);
    height: 100%;
    border-radius: 10px;
    background-image: linear-gradient(
        45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, 
        rgba(255, 255, 255, .15) 50%, 
        rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    background-position: 0px 0px;
    animation: global(progression-stripes) 1s linear infinite;
}

.stat-value {
    position: absolute;
    padding-left: 5px;
    font-weight: bold;
    color: var(--gray-50);
    height: 100%;
    text-shadow: 1px 1px 1px #000000;
}

.description-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.description-textbox {
    background-color: var(--bg-default);
    color: var(--text-color-default);
    width: 100%;
    height: 150px;
    font-size: 14px;
    border-radius: 5px;
    outline: 1px solid #474959;
    padding: 5px 0 5px 10px;
    transition: background-color 0.3s ease;
    overflow-y: auto;

    &:hover {
        background-color: var(--bg-secondary);
        cursor: pointer;
    }

    &:focus {
        background-color: var(--bg-secondary);
        cursor: pointer;
    }
}

.description-edit-actions {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 5px;
}

.description-main-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
}

.edit-actions {
    font-size: 20px; 
    font-weight: bold; 
    cursor: pointer;
    transition: text-shadow 0.1s ease-in;

    &:hover {
        text-shadow: 0px 0px 5px #FFFFFF;
    }
}

.edit-input {
    height: 22px;
}

.update-anime-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.update-anime-info .name-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.update-anime-info .active-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.update-anime-description .description-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.update-anime-info .span-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 31px;
}

.update-input-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}