:root {
    --bg-modal: #25242e;
    --text-color-primary: #C1C1C1;
    --text-color-primary-hover: #818181;
    
    --color-primary: #4F6DBE;
    --color-danger: #ff3232;
    --color-cancel: #36325E;

    --red-100: #FF8080;
    --red-300: #FF3232;
    --red-500: #FF0000;
    --red-800: #CA2222;
    --blue-100: #6860ff;
    --blue-300: #3838ff;
    --blue-500: #0000FF;
    --blue-800: #000081;
    --gray-50: #C1C1C1;
    --gray-100: #888888;
    --gray-300: #818181;
    --gray-500: #4d4d4d;
}

* {
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    background-color: #121212;
    background-image: linear-gradient(hsl(239deg 18.37% 28.73% / 15%) 1px, transparent 0), linear-gradient(90deg, hsl(239deg 18.37% 28.73% / 15%) 1px, transparent 0);
    background-size: 40px 40px;
    font-family: "Trebuchet MS", Impact ;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

p {
    margin: 0;
}

h1 {
    line-height: 1.0;
}

img {
    vertical-align: baseline;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

#app > #main {
    display: flex;
    flex: 1;
    width: 1280px;
    max-width: 1280px;
    min-height: 0;
    margin: auto;
}

/*Some colors*/

.green {
    color: #009400;
}

.lightGreen {
    color: #77EB77
}

.orange {
    color: #FF5F03;
}

.gold {
    color: #E4AF00;
}

.vertical-ruler {
    height: 100%;
}

.showText {
    padding-right: 3px;
}

.drop-custom .ant-dropdown-menu {
    background-color: #161616;
    outline: 1px solid #7c7c7c31;
}

.drop-custom .ant-dropdown-menu-title-content {
    color: #FFF;
}

.error-message {
    position: absolute;
    text-align: center;
    font-size: 16px;
    animation: blinkOverlay 0.25s ease-out;
}

.success-message {
    position: absolute;
    text-align: center;
    font-size: 16px;
    transform: translateY(-18px);
    animation:
        fadeIn 0.6s ease-out,
        blink 0.3s ease-in-out 0.6s,
        fadeOut 0.6s ease-out 4s forwards;
}

.modal-default .ant-modal-container {
    background-color: var(--bg-modal);
    border: 1px solid rgba(93, 93, 93, 0.17);

    & .ant-modal-title {
        color: var(--text-color-primary);
        font-size: 20px;
    }

    & .ant-modal-close {
        color: var(--text-color-primary);

        & svg {
            font-size: 22px;
        }

        &:hover {
            color: var(--text-color-primary-hover);         
        }
    }
}

.btn-default {
    color: var(--text-color-primary);
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    box-shadow: none !important; 
}

.primary-btn {
    background-color: #4F6DBE;

    &.ant-btn:disabled:not(.ant-btn-disabled) {
        background-color: #a3a3a3;
        color: var(--ant-color-text-disabled);
        border: none;
    }

    &.ant-btn:not(:disabled):not(.ant-btn-disabled):hover {
        background-color: #4660A8;
        border: none;
    }
}

.danger-btn {
    background-color: #ff3232;

    &.ant-btn:disabled:not(.ant-btn-disabled) {
        background-color: #a3a3a3;
        color: var(--ant-color-text-disabled);
        border: none;
    }

    &.ant-btn:not(:disabled):not(.ant-btn-disabled):hover {
        background-color: #ca2222;
        border: none;
    }
}

.cancel-btn {
    background-color: #36325E;

    &.ant-btn:not(:disabled):not(.ant-btn-disabled):hover {
        background-color: #443f74;
        border: none;
    }
}

.input-default {
    width: 60px;
    background-color: #48465d;
    color: var(--text-color-primary);
    border: none;
    box-shadow: 0 0px 2px 1px rgb(72 70 93);

    &:hover, &:focus, &:focus-within {
        background-color: #48465d;
        box-shadow: 0 0px 2px 1px rgb(72 70 93);
        outline: none;
    }

    & .ant-input-number-input {
        color: var(--text-color-primary);
    }

    & .ant-input-number-actions {
        background: #635e7a;
    }

    & .ant-input-number-action {
        border-inline-start: 1px solid #7975a8;
    }

    & .ant-input-number-action-up, .ant-input-number-action-down {
        color: var(--text-color-primary);

        &:hover {
            color: var(--text-color-primary-hover);
        }
    }

    & .ant-input-number-action-down {
        border-block-start: 1px solid #7975a8 !important;
    }
}

.input-disabled.ant-input-number-disabled {
    background-color: #a3a3a3;

    & .ant-input-number-input {
        color: var(--ant-color-text-disabled);
    }

    &.ant-input-number-disabled:hover {
        background-color:#a3a3a3;
    }
}

.select-default {
    min-width: 100px;
}

.select-default {
    background-color: #48465d;
    color: var(--text-color-primary);
    border: none;
    box-shadow: 0 0px 2px 1px rgb(72 70 93);
    transition: all 0.2s ease;

    &:hover, &:focus, &:focus-within {
        background-color: #48465d;
        box-shadow: 0 0px 2px 1px rgb(72 70 93);
        outline: none;
    }

    &.ant-select.ant-select-outlined:not(.ant-select-disabled).ant-select-focused {
        box-shadow: 0 0px 2px 1px rgb(72 70 93);
    }

    & .ant-select-content-value {
        color: var(--text-color-primary);
    }

    & .ant-select-suffix {
        color: var(--text-color-primary);
    }
}

.select-disabled.ant-select-disabled {
    background-color: #a3a3a3;

    & .ant-select-content-value {
        color: var(--ant-color-text-disabled);
    }

    &.ant-input-number-disabled:hover {
        background-color:#a3a3a3;
    }

    & .ant-select-suffix {
        color: var(--ant-color-text-disabled);
    }
}

.select-default-popup {
    background-color: #48465d;

    & .ant-select-item {
        color: var(--text-color-primary);
    }

    & .ant-select-item:hover {
        background-color: #54506b;
    }

    & .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
        background-color: #635e7a;
    }
}

/*Some responsive changes*/

@media only screen and (min-width: 1180px) {

    img {
        vertical-align: middle;
    }
}