:root {
    --bg-modal: #25242e;
    --text-color-primary: #C1C1C1;
    --text-color-primary-hover: #818181;
    
    --color-primary: #4F6DBE;
    --color-danger: #ff3232;
    --color-cancel: #36325E;

    --red-100: #FF8080;
    --red-300: #FF3232;
    --red-500: #FF0000;
    --red-800: #CA2222;
    --blue-100: #6860ff;
    --blue-300: #3838ff;
    --blue-500: #0000FF;
    --blue-800: #000081;
    --gray-50: #C1C1C1;
    --gray-100: #888888;
    --gray-300: #818181;
    --gray-500: #4d4d4d;
}

* {
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    background-color: #121212;
    background-image: linear-gradient(hsl(239deg 18.37% 28.73% / 15%) 1px, transparent 0), linear-gradient(90deg, hsl(239deg 18.37% 28.73% / 15%) 1px, transparent 0);
    background-size: 40px 40px;
    font-family: "Trebuchet MS", Impact ;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

p {
    margin: 0;
}

h1 {
    line-height: 1.0;
}

img {
    vertical-align: baseline;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

#app > #main {
    display: flex;
    flex: 1;
    width: 1280px;
    max-width: 1280px;
    min-height: 0;
    margin: auto;
}

/*Some colors*/

.green {
    color: #009400;
}

.lightGreen {
    color: #77EB77
}

.orange {
    color: #FF5F03;
}

.gold {
    color: #E4AF00;
}

.vertical-ruler {
    height: 100%;
}

.showText {
    padding-right: 3px;
}

.drop-custom .ant-dropdown-menu {
    background-color: #161616;
    outline: 1px solid #7c7c7c31;
}

.drop-custom .ant-dropdown-menu-title-content {
    color: #FFF;
}

.error-message {
    position: absolute;
    text-align: center;
    font-size: 16px;
    animation: blinkOverlay 0.25s ease-out;
}

.success-message {
    position: absolute;
    text-align: center;
    font-size: 16px;
    transform: translateY(-18px);
    animation:
        fadeIn 0.6s ease-out,
        blink 0.3s ease-in-out 0.6s,
        fadeOut 0.6s ease-out 4s forwards;
}

.modal-default .ant-modal-container {
    background-color: var(--bg-modal);
    border: 1px solid rgba(93, 93, 93, 0.17);

    & .ant-modal-title {
        color: var(--text-color-primary);
        font-size: 20px;
    }

    & .ant-modal-close {
        color: var(--text-color-primary);

        & svg {
            font-size: 22px;
        }

        &:hover {
            color: var(--text-color-primary-hover);         
        }
    }
}

.btn-default {
    color: var(--text-color-primary);
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    box-shadow: none !important; 
}

.primary-btn {
    background-color: #4F6DBE;

    &.ant-btn:not(:disabled):not(.ant-btn-disabled):hover {
        background-color: #4660A8;
        border: none;
    }
}

.danger-btn {
    background-color: #ff3232;

    &.ant-btn:not(:disabled):not(.ant-btn-disabled):hover {
        background-color: #ca2222;
        border: none;
    }
}

.cancel-btn {
    background-color: #36325E;

    &.ant-btn:not(:disabled):not(.ant-btn-disabled):hover {
        background-color: #443f74;
        border: none;
    }
}

/*Some responsive changes*/

@media only screen and (min-width: 1180px) {

    img {
        vertical-align: middle;
    }
}