.login-register-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 248px;
    padding: 0 0 0 0;
    overflow: hidden;
    transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.container-title {
    justify-items: center;
}

.container-title h2 {
    margin: 0;
    padding: 11px 0 11px 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 12px 24px 24px 24px;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #050a36;
    border-radius: 21px;
    outline: 1px solid #000000;
    box-shadow: 0px 0px 0px 0px #000000;
    margin-bottom: 22px;
    padding: 8px;
    align-items: center;
}

.form-group input {
    color: #cad6ff;
    background: transparent;
    width: 85%;
    height: 20px;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    outline: none;
    padding: 0;
    font-size: 14px;
}

.form-group input::placeholder {
    color: #b8b8b8;
    font-size: 14px;
}

.form-group p {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 32px;
}

@keyframes blinkOverlay {
    0% {
        opacity: 0;
        background-color: transparent;
    }
    40% {
        opacity: 1;
        background-color: rgba(185, 183, 255, 0.68)
    }
    70% {
        opacity: 0.7;
        background-color: rgba(185, 183, 255, 0.6)
    }
    100% {
        opacity: 1;
        background-color: rgba(185, 183, 255, 0.68)
    }
}

.success-message-container {
    position: relative;
    margin-bottom: 24px;
}

.success-message {
    position: absolute;
    text-align: center;
    font-size: 16px;
    transform: translateY(-18px);
    animation:
        fadeIn 0.6s ease-out,
        blink 0.3s ease-in-out 0.6s,
        fadeOut 0.6s ease-out 4s forwards;
}

.error-message-container {
    position: relative;
    margin-bottom: 24px;
}

.error-message {
    position: absolute;
    text-align: center;
    font-size: 16px;
    animation: blinkOverlay 0.25s ease-out;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-4px)};
    100% { opacity: 1; transform: translateY(-18px)};
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    40% { opacity: 0.4; }
    60% { opacity: 1; }
    80% { opacity: 0.4; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; transform: translateY(-4px); }
}

.submit-btn {
    align-self: center;
}